<header class="header">
  <nav class="nav">
    <ul class="nav-list">
     <li class="nav-item">
        <a href="../pages/book-the-room.html" class="nav-link">Book the room</a>
      </li>

      <li class="nav-item">
        <a href="../pages/event-handling.html" class="nav-link">Event Handling</a>
      </li>

      <li class="nav-item">
        <a href="../pages/library.html" class="nav-link">Library</a>
      </li>

          <li class="nav-item">
          <a href="../pages/img-gallery.html" class="nav-link">Gallery</a>
        </li>

        <li class="nav-item">
        <a href="../pages/calendar.html" class="nav-link">Calendar</a>
      </li>

      <li class="nav-item">
        <a href="../pages/todolist.html"  class="nav-link">Todo List</a>
      </li> 
     

      <li class="nav-item">
        <a href="../pages/contacts-book.html"  class="nav-link">Contacts book</a>
      </li> 
    
      <li class="nav-item">
        <a href="../pages/blog.html"  class="nav-link">Blog</a>
      </li>


      <li class="nav-item"></li>
        <a href="../pages/multi-tab-synch-status.html"  class="nav-link">Multi-tab synch</a>
      </li>

      <li class="nav-item"></li>
        <a href="../pages/text-editor.html"  class="nav-link">Text editor</a>
      </li>
    </ul>
  </nav>
</header>
